@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-popup {
  animation: popup 1s ease-in-out;
}